/* FileUpload.css */



.cont{
   text-align: center;
  justify-content: center;
} 
.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  justify-content: center;
}

.file-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-dropzone.error {
  border-color: #ff3d3d;
  background-color: rgba(255, 61, 61, 0.1);
}

.file-dropzone p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.selected-files {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.file-item {
  background-color: #f2f2f2;
  color: #444;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.error-message {
  color: #ff3d3d;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.upload-progress {
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}
